@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-active: #dbe51b;
  --normal-color: #055c9d;
  --light-color: #438ec8;
  --light-color-rgb: 67, 142, 200;
  --lighter-color: rgb(187, 220, 245);
  --dark-color: #003060;
  --darker-color: #051829;
  --error-color: #dc3545;
  --gray-color: #6c757d;
  --color-active-rgb: 139, 223, 54;   /* #8bdf36 */
  --normal-color-rgb: 5, 92, 157;     /* #055c9d */
  --dark-color-rgb: 0, 48, 96;        /* #003060 */
  --error-color-rgb: 220, 53, 69;     /* #dc3545 */
  --gray-color-rgb: 108, 117, 125;    /* #6c757d */
  --white-color-rgb: 255, 255, 255; 
  --success-color: #26883d;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: Transparent;
    --foreground: Transparent;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Tahoma, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Keyframes for pulsating effect */
@keyframes pulsate {
  0% {
    text-shadow: 
      4px 4px 5px rgba(0, 0, 0, 0.5),
      0 0 25px rgba(255, 105, 180, 0.6);
  }
  50% {
    text-shadow: 
      4px 4px 10px rgba(0, 0, 0, 0.7),
      0 0 35px rgba(255, 105, 180, 0.8);
  }
  100% {
    text-shadow: 
      4px 4px 5px rgba(0, 0, 0, 0.5),
      0 0 25px rgba(255, 105, 180, 0.6);
  }
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.center{
  display: flex;
  justify-content: center;
  
}

.center-container {
  @apply absolute inset-x-80 top-[calc(5px+10px)] bg-[#003060] shadow-lg rounded-lg bg-opacity-70;
  height: 39rem; /* Fixed height */
  overflow-y: hidden;
}

.centering-container {
  @apply absolute inset-x-60 top-[calc(0px+10px)] shadow-lg rounded-lg;
  height: 40rem; /* Fixed height */
  overflow-y: hidden;
  display: flex; /* Flexbox for centering */
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}

.horizontal-container {
  @apply flex items-center justify-center; /* Align items horizontally and center them */
  @apply space-x-4; /* Add spacing between child elements (optional) */
}
.horizontal-container10 {
  @apply flex items-center justify-center; /* Align items horizontally and center them */
  @apply space-x-4; /* Add spacing between child elements (optional) */
}

.horizontal-container10 > * {
  transition: transform 0.1s ease-in-out; /* Smooth transition for hover effect */
}

.horizontal-container10 > *:hover {
  transform: translateY(-1rem); /* Move the item slightly upwards on hover */
  cursor: pointer; /* Change cursor to indicate it's clickable */
}


.horizontal-container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.horizontal-container3 {
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgba(255, 255, 255, 0.2); /* Red with 20% opacity */
  border-radius: 10px; /* Rounded borders, adjust value as needed */
  padding: 0.5rem; /* Optional padding for content inside */
}

.horizontal-container3:hover{
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Light shadow for a lifted effect */
  transition: transform 0.3s ease-in-out;
}

.two-column-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative; /* Ensure that the pseudo-element is positioned properly */
}

.two-column-container::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #c6df36; /*line */
  transform: translateX(-50%); /* Centers the line between the columns */
}

.column {
  width: 48%; /* Each column takes up about half, with some space between */
  text-align: center; /* Centers items horizontally inside the column */
}


.navbar-button {
  color: rgb(220, 224, 255); /* Text color */
  font-size: 1rem; /* Font size */
  font-weight: 500; /* Font weight */
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  padding-right: 1.5rem;
}

.navbar-button2 {
  color: rgb(220, 224, 255); /* Text color */
  font-size: 1rem; /* Font size */
  font-weight: 500; /* Font weight */
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  padding-right: 1.5rem;
  padding-bottom: 0.9rem;
  padding-top: 0.9rem;
}

.navbar-button:hover {
  color: rgb(255, 255, 255); /* Text color */
  text-decoration: underline;
}
.navbar-button2:hover {
  color: rgb(255, 255, 255); /* Text color */
  text-decoration: underline;
}

.navbar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.navbar-content {
  display: flex;
  justify-content: space-around; /* Space items evenly */
}

.navbar-item {
  color: white; /* Text color */
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative; /* Required for absolute positioning of the hover effect */
  font-size: 1rem;
  padding-left: 0.85rem;
  padding-right: 0.85rem;
}

.navbar-item::after {
  content: '';
  position: absolute;
  border-radius: 4px;
  top: -40%;
  left: 2%; 
  right: 2%; 
  bottom: -40%; 
  background-color: rgba(255, 255, 255, 0.3); 
  opacity: 0; 
  transition: opacity 0.3s;
  z-index: -1; /* Place behind the text */
}

.navbar-item:hover::after,
.navbar-item.active::after {
  opacity: 1; /* Show the background on hover and when active */
}

/* .navbar-item::after {
  content: '';
  position: absolute;
  top: -40%;
  left: -2%; 
  right: -2%; 
  bottom: -40%; 
  background-color: rgba(255, 255, 255, 0.3); 
  opacity: 0; 
  transition: opacity 0.3s;
  z-index: -1; 
}

.navbar-item:hover::after,
.navbar-item.selected::after { 
  opacity: 1; 
} */

.menu-icon {
  margin-right: 0.5rem; /* Space between icon and text */
}

.navbar-footer {
  text-align: center;
  color: white; /* Footer text color */
  margin-top: 1rem;
}



.error-message {
  color: var(--error-color);
  margin-top: 10px;
}

.none-message{
  color:white;
  font-size: 1rem;
  width:fit-content;
  background: rgba(var(--color-active-rgb), 0.2);
  padding: 1rem; /* Increased padding */
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  text-align: center;
}

/* Tab button styles */
.tab-buttons {
  @apply flex border-b border-gray-300;
}

.tab-button {
  @apply px-6 py-3 text-lg font-medium focus:outline-none; /* Increased padding and font size */
  @apply mx-2; /* Added margin between tabs */
}

.tab-button-active {
  @apply border-b-2;
  border-color: var(--color-active); /* Use custom active color */
  color: var(--color-active); /* Use custom active color */
}

.tab-button-inactive {
  @apply text-white; /* Changed inactive color to white */
}

/* Tab content styling */
.tab-content {
  @apply p-4;
}

.tab-text {
  @apply font-medium ;
}

.tab-icon {
  @apply mr-2;
}

.search-bar {
  @apply flex justify-center items-center mb-10 w-[52rem]; /* Centering the container horizontally */
}

.search-input {
  padding: 0.5rem;
  margin-bottom: 0.6rem;
  /* margin-left: 1.1rem; */
  width:90%;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem; /* Increased font size */
  color: var(--dark-color);
  background-color: rgba(255, 255, 255, 0.9);
  transition: border-color 0.2s ease-in-out;
}

.search-input:focus {
  border-color: var(--color-active);
  outline: none;
}

.players-table-container {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 30rem; 
  overflow-y: auto; 
}

.players-table {
  @apply min-w-full border-collapse bg-[#055c9d] shadow-md ; 
}

.players-table thead {
  @apply bg-[#055c9d] text-white; 
}

.players-table th {
  @apply px-4 py-2 border-b font-bold; 
}

.players-table td {
  @apply px-4 py-2 text-white text-center; 
}

.players-table tr:hover {
  background-color: rgba(var(--white-color-rgb), 0.3); 
}

.no-data {
  @apply text-center; 
}


/* Login Page Styling */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #6cb2eb, #3b82f6);
}

.login-box {
  background: rgba(255, 255, 255, 0.8);
  padding: 4rem; /* Increased padding */
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 450px; /* Increased width */
}

.login-title {
  font-size: 2.4rem; /* Increased font size */
  color:  var(--dark-color);
  margin-bottom: 1rem;
  font-weight: 600;
}

.login-subtitle {
  font-size: 1.1rem; /* Increased font size */
  color:  var(--gray-color);
  margin-bottom: 2.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  padding: 1rem; /* Increased padding */
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1.1rem; /* Increased font size */
  color: var(--gray-color);
  background-color: rgba(255, 255, 255, 0.9);
  transition: border-color 0.2s ease-in-out;
}

.login-input:focus {
  border-color: var(--color-active);
  outline: none;
}

.login-buttonn {
  padding: 1rem; /* Increased padding */
  background-color: var(--normal-color);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem; /* Increased font size */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.login-buttonn:hover {
  background-color: var(--dark-color);
}

.login-footer {
  margin-top: 1.5rem;
  font-size: 0.9rem; /* Increased font size */
}

/* Admin Pages */

.page-title{
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin: 1rem;
  letter-spacing: 0.2rem; /* Slight letter spacing for a modern look */
}
.page-title2{
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin: 1rem;
  letter-spacing: 0.2rem; /* Slight letter spacing for a modern look */
  text-align: "right";
}


.mini-title{
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-active);
  margin: 0.5rem;
  letter-spacing: 0.15rem; /* Slight letter spacing for a modern look */
}

.subtitle{
  font-weight: lighter;
  color:white;
  letter-spacing: 0.1rem;
}

.button-label{
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.7rem;
}

.button-label2{
  color: var(--background);
  font-size: 0.85rem;
  /* font-weight: bold; */
}

.horizontal-container5 {
  background-color: var(--success-color);
  border-radius: 8px; /* Rounded borders, adjust value as needed */
  width: 6rem;
  height: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Light shadow for a lifted effect */
  margin-bottom: 0.05rem;
  margin-right: 0.3rem;
}

.horizontal-container6 {
  background-color: var(--light-color);
  border-radius: 8px; /* Rounded borders, adjust value as needed */
  width: 6rem;
  height: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Light shadow for a lifted effect */
  margin-bottom: 0.05rem;
  margin-right: 0.3rem;
}


.icon-button{
  color:var(--color-active);
  font-size: 2rem;
}
.icon-button:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
.icon-button-big{
  color:var(--color-active);
  font-size: 3rem;
}
.icon-button-big:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.delete-icon{
  color:white;
  font-size: 1.7rem;
  cursor: pointer;
}

.delete-icon:hover{
  color:var(--error-color);
  transform: scale(1.05);
}

/* Modal overlay that covers the screen */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other elements */
}

/* Modal content box */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 30rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-title {
  font-size: 1.7rem; 
  font-weight: bold;
  color: var(--normal-color); /* Use a vibrant color for a standout effect */
  margin: 0.5rem 0; /* Top and bottom margin for better spacing */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Subtle shadow to create depth */
  letter-spacing: 0.2rem; /* Slight letter spacing for a modern look */
  border-bottom: 2px solid var(--normal-color); /* Underline effect */
  padding-bottom: 0.5rem; /* Padding to enhance the underline effect */
}

.modal-label {
  display: flex;
  justify-content: start;
  font-size: 1rem;
  color:black;
  margin-bottom: 0.4rem;
}

.modal-input{
  padding: 0.7rem; /* Increased padding */
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem; /* Increased font size */
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  transition: border-color 0.2s ease-in-out;
}

.modal-button {
  padding: 12px 24px; /* Slightly larger padding for a more substantial button */
  margin: 10px;
  border: none;
  border-radius: 12px; /* More rounded corners for a modern look */
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.05rem; /* Subtle letter spacing for a sleek appearance */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for background color and hover effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Light shadow for a lifted effect */
}

.modal-button.confirm {
  background-color: rgba(var(--light-color-rgb), 0.3);
  color: var(--dark-color);
}

.modal-button.cancel {
  background-color: rgba(var(--gray-color-rgb), 0.2);
  color: var(--error-color);
}

.modal-button.confirm:hover {
  background-color: rgba(var(--light-color-rgb), 0.4);
  transform: scale(1.05); /* Slightly increase the size on hover */
}

.modal-button.cancel:hover {
  background-color: rgba(var(--gray-color-rgb), 0.3);
  transform: scale(1.05); /* Slightly increase the size on hover */
}

.modal-button:active {
  transform: scale(0.95); /* Slightly reduce size on click for a pressed effect */
}


.modal-message {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--error-color); 
}

.modal-message2 {
  margin-top: 10px;
  color: var(--success-color); /* Change to the variable for success color */
}

.confirmation-message {
  margin: 1rem;
  color: var(--dark-color); 
  font-size: 1.2rem;
  
}

.confirmation-message p {
  display: inline; /* Make <p> behave like an inline element */
}


.dropdown-container {
  max-height: 10rem;
  height: 10rem;
  overflow-y: auto;
  border: 1px solid rgba(var(--white-color-rgb), 0.5);
  border-radius: 8px;
  background-color: rgba(var(--gray-color-rgb), 0.6);
}

.dropdown-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgba(var(--white-color-rgb), 0.5);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: rgba(var(--dark-color-rgb), 0.5);
}

.teams-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* Space between each team */
  height: 25rem;
  margin: 1rem;
  overflow-y: auto;
}

.team-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(var(--dark-color-rgb), 0.7); /* Light background color */
  border: 1px solid #ddd; /* Border around each team container */
  border-radius: 4px; /* Rounded corners */
  margin-right: 1rem;
}

.team-member {
  font-size: 1rem;
  font-weight: bold;
  color: white
}

.matches-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* Space between each match */
  height: 27.5rem; /* Adjust height as needed */
  margin: 1rem 3rem;
  overflow-y: auto;
  /* width: 48rem; */
}

.match-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background-color: rgba(var(--dark-color-rgb), 0.7); /* Subtle background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: auto;
}

.match-container:hover{
  background-color: rgba(var(--dark-color-rgb), 0.9); /* Subtle background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.team {
  font-size: 1.2rem;
  color: white;
  padding: 0.5rem;
  cursor: default;
  width: 25rem; 
}

.vs {
  font-size: 2rem; /* Extra large for emphasis */
  font-weight: bold;
  color: var(--error-color); /* Bright color for 'vs' */
  cursor: default;
  text-shadow: 
    4px 4px 5px rgba(0, 0, 0, 0.5), /* Multiple shadows for depth */
    0 0 25px rgba(233, 135, 128, 0.6); /* Glowing effect */
  transform: rotate(-15deg); /* Increased rotation for more dynamism */
  margin-top: -0.5rem;
}

.match-container:hover .vs {
  animation: pulsate 1.5s infinite;
  cursor: default;
}

/* Keyframes for pulsating effect */
@keyframes pulsate {
  0% {
    text-shadow: 
      4px 4px 5px rgba(0, 0, 0, 0.5),
      0 0 25px rgba(255, 255, 255, 0.8);
    transform: rotate(-15deg) scale(1); /* Start state */
  }
  50% {
    text-shadow: 
      4px 4px 10px rgba(0, 0, 0, 0.7),
      0 0 35px rgba(255, 255, 255, 0.8);
    transform: rotate(-15deg) scale(1.1); /* Scaled up state */
  }
  100% {
    text-shadow: 
      4px 4px 5px rgba(0, 0, 0, 0.5),
      0 0 25px rgba(255, 255, 255, 0.8);
    transform: rotate(-15deg) scale(1); /* End state */
  }
}

.timings{ 
  font-size: 0.9rem;
color: var(--lighter-color);
font-weight: bold;
/* background-color: pink; */
width: 8.2rem;
text-shadow: 0 0 3px var(--darker-color), 0 0 8px var(--darker-color), 0 0 13px var(--darker-color);
}

.team2 {
  font-size: 1rem;
  color: white;
  padding: 0.5rem;
  width: 20rem;
  cursor: default;
  /* background-color: red; */
}

.match-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background-color: rgba(var(--dark-color-rgb), 0.7); /* Subtle background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: auto;
  /* width: 48rem; */
}

.match-container2:hover{
  background-color: rgba(var(--dark-color-rgb), 0.9); /* Subtle background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.vs2 {
  font-size: 1.5rem; 
  font-weight: bold;
  color: #dc3545; /* Bright color for 'vs' */
  cursor: default;
  text-shadow: 
    4px 4px 5px rgba(0, 0, 0, 0.5), /* Multiple shadows for depth */
    0 0 25px rgba(233, 135, 128, 0.6); /* Glowing effect */
  transform: rotate(-15deg); /* Increased rotation for more dynamism */
}

.match-container2:hover .vs2 {
  animation: pulsate 1.5s infinite;
}


.input-with-icon {
  position: relative;
  display: inline-block;
  width: 100%; /* Or set a specific width */
}

.clock-icon {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  transform: translateY(-50%);
  color: rgb(0, 0, 0);
  pointer-events: none; 
  /* cursor: pointer; */
}

.horizontal-line{
  border: 1px solid var(--color-active);
  margin: 0.5rem;
}